@model TLCNVer6.Models.ThongTinHopDong

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="page-header">
        <h1>
            <i class="ace-icon fa fa fa-database"></i> <a href="#">
                Dữ liệu
            </a>

            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                Xóa hợp đồng
            </small>
        </h1>
    </div><!-- /.page-header -->
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i> Xóa
                    phiếu nhập
                </div>
                <div class="center"><h3>Bạn có muốn xóa?</h3></div>
                <div>
                    <div class="panel-body center">
                        <dl class="dl-horizontal">
                            <dt>@Html.DisplayNameFor(model => model.MaHD)</dt>
                            <dd>@Html.DisplayFor(model => model.MaHD)</dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.TinhChat)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.TinhChat)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.MaKho)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.MaKho)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.MaDV)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.MaDV)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.NgayKi)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.NgayKi)
                            </dd>

                        </dl>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <a>
                                <input class="btn btn-primary center" type="submit" value="Xóa" />
                                @Html.ActionLink("Trở về", "Index", "ThongTinHopDong", null, new { @class = "btn btn-success " })
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>