@model TLCNVer6.Models.ThongTinPN

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ThongTinPN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DonViGiaoNhan.TenDV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonViGiaoNhan.TenDV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Login.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaPN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaPN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayLap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayLap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaTriDen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaTriDen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
