@model TLCNVer6.Models.ChiTietHD

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="page-header">
        <h1>
            <i class="ace-icon fa fa fa-database"></i> <a href="#">
                Dữ liệu
            </a>

            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                Thêm sản phẩm vào hợp đồng
            </small>
        </h1>
    </div><!-- /.page-header -->
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i> Thêm
                    sản phẩm vào hợp đồng
                </div>

                @using (Html.BeginForm())
            {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <div class="panel-body">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.MaMatHang, "Tên mặt hàng")

                            @Html.DropDownList("MaMatHang", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MaMatHang, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SoLuong, "Số lượng")

                            @Html.EditorFor(model => model.SoLuong, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SoLuong, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.DonGia, "Đơn giá")

                            @Html.EditorFor(model => model.DonGia, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DonGia, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Sum, "Tổng")

                            @Html.EditorFor(model => model.Sum, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Sum, "", new { @class = "text-danger" })

                        </div>

                        <a>
                            <input class="btn btn-primary " type="submit" value="Tạo" />
                            @Html.ActionLink("Trở về", "Index", "ThongTinHopDong", null, new { @class = "btn btn-success " })
                        </a>
                    </div>
                }

            </div>
        </div>
    </div>
</div>